[submodule "templates/workspace"]
	path = templates/workspace
	url = git@github.com:GaborTorma/mwm-workspace-template.git
[submodule "templates/nuxt-layer"]
	path = templates/nuxt-layer
	url = git@github.com:GaborTorma/mwm-nuxt-layer-template.git
[submodule "templates/nuxt-module"]
	path = templates/nuxt-module
	url = https://github.com/GaborTorma/mwm-nuxt-module-template.git
[submodule "templates/nitro-plugin"]
	path = templates/nitro-plugin
	url = https://github.com/GaborTorma/mwm-nitro-plugin-template.git
